* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height: 100vh;
  width: 100vw;
}

.mainBlock {
  width: 70vw;
}

.contentBlock {
  animation: showContentBlock .7s forwards;
}

@keyframes showContentBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.questionsBlock {
  animation: showQuestionsBlock .2s forwards;
}

@keyframes showQuestionsBlock {
  0% {
    opacity: 0;
    transform: translateX(-500px);

  }
  100% {
    opacity: 1;
transform: translateX(0px);
  }
}

.button {
  margin: 20px 15px 20px 0;
}